%p
  Bonjour,

%p
  Veuillez cliquer sur le lien suivant pour vous connecter sur le site #{APPLICATION_NAME} : 
  = link_to(sign_in_by_link_url(@instructeur_id, jeton: @login_token), sign_in_by_link_url(@instructeur_id, jeton: @login_token))

%p
  Ce lien est
  %b valide une semaine
  et peut-être réutilisé
  %b plusieurs fois.

%p
  Si vous n'êtes pas a l'origine de la connexion, votre mot de passe a été corrompu. Vous pouvez le changer
  %a= link_to "ici", "/users/password/new"

= render partial: "layouts/mailers/signature"
