%p
  Bonjour,

%p
  Veuillez cliquer sur le lien suivant pour vous connecter sur le site #{APPLICATION_NAME} : 
  = link_to(sign_in_by_link_url(@instructeur_id, jeton: @login_token), sign_in_by_link_url(@instructeur_id, jeton: @login_token))

%p
  Ce lien est
  %b valide une semaine
  et peut-être réutilisé
  %b plusieurs fois.

%p
  Si vous n'êtes pas a l'origine de la connexion, votre mot de passe a été compromis. Vous devez le changer
  = link_to('ici.', new_password_url(:user))

= render partial: "layouts/mailers/signature"
